$blue: rgb(27, 156, 252);
$gray: rgb(194, 194, 194);
.wrap {
  width: 1200px;
  margin: 0 auto 4rem auto;
  .list {
  }
  .togo {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    background-color: $blue;
    cursor: pointer;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      background-color: darken($blue, 10%);
    }
    .icon {
      color: #fff;
      font-size: 1.3rem;
    }
  }
}
